//***************************************************************************************************************************************************************//
//****************************************************************page_style.scss정의 영업지부 ****************************************************************//
//***************************************************************************************************************************************************************//
$mapIcon:url(/img/mapIcon.png) no-repeat center center;

.mapbtn {
  display: inline-flex;
  a {
    border-radius: 20px;
    background:#0d2154;
    padding:11px 31px;
    .mapIcon {
      margin-right:0!important;
      &:before {
        content:"";
        @include dpd;
        width:12px;
        height:18px;
        background:$mapIcon;
        margin-right:10px;
        vertical-align: middle;
      }
    }
  }
}